.player {
    text-align: center;
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
    width:300px;
    margin: 50px;
    padding:20px;
}
.photo img {
    width:200px
}
#summery-heading {
    margin-top: 50px;
    margin-left: 50px;
}